grpcio==1.76.0
wandb==0.23.0
contourpy==1.3.2
nvidia-cuda-runtime-cu12==12.4.127
fonttools==4.61.0
GitPython==3.1.45
nvidia-cusparselt-cu12==0.6.2
nvidia-nvjitlink-cu12==12.4.127
sentry-sdk==2.46.0
certifi==2025.11.12
tzdata==2025.2
nvidia-curand-cu11==10.3.0.86
Markdown==3.10
tornado==6.5.2
triton==3.3.1
absl-py==2.3.1
stable_baselines3==2.7.0
nvidia-cusparse-cu12==12.3.1.170
pip==25.3
nvidia-cuda-nvrtc-cu12==12.4.127
Farama-Notifications==0.0.4
opencv-python==4.12.0.88
sympy==1.14.0
platformdirs==4.5.0
cycler==0.12.1
nvidia-cudnn-cu11==9.1.0.70
pytz==2025.2
smmap==5.0.2
pydantic_core==2.41.5
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-nvrtc-cu11==11.8.89
plotly==6.5.0
pillow==11.3.0
moviepy==2.2.1
Werkzeug==3.1.4
networkx==3.3
soundfile==0.13.1
rdkit==2025.9.3
cloudpickle==3.1.2
cffi==2.0.0
protobuf==6.33.1
nvidia-nccl-cu12==2.21.5
tensorboard==2.20.0
click==8.3.1
gymnasium==1.2.2
pycparser==2.23
markdown-it-py==4.0.0
typing_extensions==4.15.0
packaging==25.0
mdurl==0.1.2
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusolver-cu11==11.4.1.48
AutoROM.accept-rom-license==0.6.1
annotated-types==0.7.0
pandas==2.3.3
pygame==2.6.1
nvidia-cufft-cu12==11.2.1.3
tensorboard-data-server==0.7.2
typing-inspection==0.4.2
rich==14.2.0
wheel==0.45.1
nvidia-cublas-cu12==12.4.5.8
urllib3==2.5.0
nvidia-cuda-cupti-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
pyparsing==3.2.5
nvidia-nvtx-cu12==12.4.127
tqdm==4.67.1
proglog==0.1.12
ale-py==0.11.2
gitdb==4.0.12
Jinja2==3.1.6
nvidia-cufft-cu11==10.9.0.58
numpy==2.1.2
charset-normalizer==3.4.4
pydantic==2.12.5
torch==2.7.1+cu118
AutoROM==0.6.1
nvidia-cusparse-cu11==11.7.5.86
nvidia-cublas-cu11==11.11.3.6
psutil==7.1.3
filelock==3.19.1
narwhals==2.13.0
python-dotenv==1.2.1
nvidia-cuda-cupti-cu11==11.8.87
setuptools==80.9.0
kiwisolver==1.4.9
Pygments==2.19.2
PyYAML==6.0.3
torchaudio==2.7.1+cu118
bokeh==3.8.1
matplotlib==3.10.7
ImageIO==2.37.2
idna==3.11
decorator==5.2.1
nvidia-curand-cu12==10.3.5.147
nvidia-nccl-cu11==2.21.5
requests==2.32.5
MarkupSafe==2.1.5
fsspec==2025.9.0
colorama==0.4.6
nvidia-cudnn-cu12==9.1.0.70
imageio-ffmpeg==0.6.0
mpmath==1.3.0
python-dateutil==2.9.0.post0
torchvision==0.22.1+cu118
xyzservices==2025.11.0
av==16.0.1
six==1.17.0
